<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="base">
<head>
    <title>Регистрация игры</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <div id="gameRegistration" class="text-center roundedPanel">
        <p class="error" th:if="${error != null}" th:text="${error}"></p>
        <p th:if="${success != null}" th:text="${success}">Результат был успешно сохранен</p>
        <!--/*@thymesVar id="gameRegistrationForm" type="com.abekirev.dbd.web.controller.staff.StaffController.GameRegistrationForm"*/-->
        <form th:action="@{/staff/register/game/}" th:object="${gameRegistrationForm}" method="post">
            <table>
                <tbody>
                <tr>
                    <td th:text="#{staff.register.game.player.white}">Белые</td>
                    <td>
                        <select th:field="*{whitePlayerId}">
                            <!--/*@thymesVar id="players" type="java.util.Collection<com.abekirev.dbd.web.controller.staff.StaffController.Player>"*/-->
                            <option th:each="player, itStatus : ${players}" th:value="${player.id}"
                                    th:text="${player.firstName + ' ' + player.lastName}"
                                    th:selected="${itStatus.first}"></option>
                        </select>
                    </td>
                    <td th:if="${#fields.hasErrors('whitePlayerId')}" th:errors="*{whitePlayerId}">White player id has errors</td>
                </tr>
                <tr>
                    <td th:text="#{staff.register.game.player.black}">Черные</td>
                    <td>
                        <select th:field="*{blackPlayerId}">
                            <!--/*@thymesVar id="players" type="java.util.Collection<com.abekirev.dbd.web.controller.staff.StaffController.Player>"*/-->
                            <option th:each="player, itStatus : ${players}" th:value="${player.id}"
                                    th:text="${player.firstName + ' ' + player.lastName}"
                                    th:selected="${itStatus.first}"></option>
                        </select>
                    </td>
                    <td th:if="${#fields.hasErrors('blackPlayerId')}" th:errors="*{blackPlayerId}">Black player id has errors</td>
                </tr>
                <tr>
                    <td  th:text="#{staff.register.game.result}">Результат</td>
                    <td>
                        <select th:field="*{result}">
                            <option value="white" th:text="#{staff.register.game.result.black}">Белые выиграли</option>
                            <option value="black" th:text="#{staff.register.game.result.white}">Черные выиграли</option>
                            <option value="draw" th:text="#{staff.register.game.result.draw}">Ничья</option>
                        </select>
                    </td>
                    <td th:if="${#fields.hasErrors('result')}" th:errors="*{result}">Result has errors</td>
                </tr>
                </tbody>
            </table>
            <div class="submitButton"><input type="submit" th:value="#{staff.register.game.button}" value="Зарегистрировать"/></div>
        </form>
    </div>
</div>
</body>
</html>