<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet"
          th:href="@{/static/bootstrap/css/bootstrap.min.css}"
          href="/static/bootstrap/css/bootstrap.css"/>
    <script th:src="@{/static/bootstrap/js/bootstrap.min.js}"
            src="/static/bootstrap/js/bootstrap.js"></script>
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" th:text="#{header.brand}">Шахматный турнир</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" th:href="@{/tournament/list/}" th:text="#{header.menu.tournaments}">Турниры</a></li>
                <li><a href="#" th:href="@{/players/}" th:text="#{header.menu.players}">Участники</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${@authService.anonymous}">
                    <a href="/signin" th:href="@{/login}" th:text="#{header.login}">Войти</a>
                </li>
                <li th:if="${not @authService.anonymous}">
                    <a href="/logout" th:href="@{/logout}" th:text="#{header.logout}">Выйти</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>