<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="tournament/tournamentBase">
<head>
    <title>Результаты турнира</title>
</head>
<body>
<div layout:fragment="tournamentsContent">
    <div class="form">
        <p class="error" th:if="${error != null}" th:text="${error}"></p>
        <p th:if="${success != null}" th:text="${success}">Игрок успешно зарегистрирован</p>
        <!--/*@thymesVar id="tournament" type="com.abekirev.dbd.entity.Tournament"*/-->
        <!--/*@thymesVar id="tournamentPlayerRegistrationForm" type="com.abekirev.dbd.web.controller.staff.TournamentPlayerRegistrationForm"*/-->
        <form th:action="${'/staff/tournament/registerPlayer/?id=' + tournament.id}" th:object="${tournamentPlayerRegistrationForm}" method="post">
            <table>
                <tbody>
                <tr>
                    <td th:text="#{player.firstName}">Имя</td>
                    <td><input type="text" th:field="*{firstName}" tabindex="1"/></td>
                    <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name has errors</td>
                </tr>
                <tr>
                    <td th:text="#{player.lastName}">Фамилия</td>
                    <td><input type="text" th:field="*{lastName}" tabindex="2"/></td>
                    <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name has errors</td>
                </tr>
                </tbody>
            </table>
            <div class="submitButton"><input type="submit" th:value="#{staff.register.player.button}" value="Зарегистрировать"/></div>
        </form>
    </div>
</div>
</body>
</html>