<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="tournament/tournamentBase">
<head>
    <title>Расписание турнира</title>
</head>
<body>
<div layout:fragment="tournamentsContent">
    <div id="tournamentTable">
        <!--/*@thymesVar id="tournament" type="com.abekirev.dbd.entity.Tournament"*/-->
        <!--/*@thymesVar id="schedule" type="com.abekirev.dbd.web.controller.TournamentController.ScheduleView"*/-->
        <div th:if="${schedule.tablesCount > 0 and schedule.turnsCount > 0}">
            <table class="whiteBorderedTable text-center">
                <thead>
                <tr>
                    <th></th>
                    <td th:each="k : ${#numbers.sequence(0, schedule.tablesCount - 1)}" th:text="${k + 1}"></td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="i : ${#numbers.sequence(0, schedule.turnsCount - 1)}">
                    <td th:text="${i + 1}"></td>
                    <td th:each="k : ${#numbers.sequence(0, schedule.tablesCount - 1)}"
                        th:text="${schedule.games[i][k]}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center" th:if="${not (schedule.tablesCount > 0 and schedule.turnsCount > 0)}">
            <p th:text="#{schedule.nodata}"/>
        </div>
        <form th:if="${@authService.staff or @authService.admin}" class="text-center" th:action="${'/tournament/schedule/gen/'}" method="post">
            <input type="hidden" name="id" th:value="${tournament.id}"/>
            <button id="genScheduleButton" th:text="#{schedule.generate}"></button>
        </form>
    </div>
</div>
</body>
</html>