body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url("/static/img/chess.jpg") no-repeat;
    background-size: 100%;
}

.navbar {
    margin-bottom: 10px;
}

#login {
    width: 480px;
    margin: auto;
}

#login table {
    display: inline;
    border-collapse: separate;
    border-spacing: 5px;
    text-align: left;
}

#sidebar ul li {
    text-align: center;
    margin-bottom: 32px;
}

#sidebar ul li:last-child {
    margin-bottom: 0px;
}

nav ul {
    list-style-type: none;
}

#sidebar ul li a {
    display: block;
    text-decoration: none;
    color: #9d9d9d;
}

#sidebar ul li a:hover {
    color: #fff;
}

.roundedPanel {
    color: white;
    background-color: rgba(0,0,0,0.9);
    border-radius: 15px;
    margin-top: 10px;
    padding: 32px;
}

.roundedPanelTable th, td, tr {
    font-size: medium;
    margin-top: 10px;
    border-spacing: 10px;
    border: 2px solid #fff;
    border-collapse: collapse;
}

.roundedPanel button {
    color: black;
}

.roundedPanel select {
    color: black;
}

.roundedPanel input {
    color: black;
}

.roundedPanel table {
    margin: auto;
}

.roundedPanel table th {
    text-align: center;
}

.whiteBorderedTable {
    border: 2px solid white;
    border-collapse: collapse;
}

.whiteBorderedTable td {
    border: 1px solid white;
}

.whiteBorderedTable th {
    border: 1px solid white;
}

.submitButton {
    padding: 5px;
}

.singleLineText {
    margin-top: 10px;
}

.error {
    color: red;
}

#gameRegistration table {
    border-collapse: separate;
    border-spacing: 5px;
}
