body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url("/static/img/chess.jpg") no-repeat;
    background-size: 100%;
}

.navbar {
    margin-bottom: 10px;
}

#login {
    width: 480px;
    margin: auto;
}

#login table {
    display: inline;
    border-collapse: separate;
    border-spacing: 5px;
    text-align: left;
}

.roundedPanel {
    color: white;
    background-color: rgba(0,0,0,0.9);
    border-radius: 15px;
    padding: 10px;
}

.roundedPanel button {
    color: black;
}

.roundedPanel select {
    color: black;
}

.roundedPanel input {
    color: black;
}

.roundedPanel table {
    margin: auto;
}

.roundedPanel table th {
    text-align: center;
}

.whiteBorderedTable {
    border: 2px solid white;
    border-collapse: collapse;
}

.whiteBorderedTable td {
    border: 1px solid white;
}

.whiteBorderedTable th {
    border: 1px solid white;
}

.submitButton {
    padding: 5px;
}

.singleLineText {
    margin-top: 10px;
}

#tournamentTable {
    font-size: medium;
    margin-top: 10px;
    padding: 10px;
}

.error {
    color: red;
}

#gameRegistration table {
    border-collapse: separate;
    border-spacing: 5px;
}