<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="base">
<head>
    <title>Форма входа</title>
</head>
<body>
<div layout:fragment="content">
    <div id="login" class="text-center roundedPanel">
        <h1>Вход</h1>
        <form th:action="@{/login}" method="post">
            <table>
                <tbody>
                    <tr>
                        <td><label> Имя пользователя :</label></td>
                        <td><input type="text" name="username"/></td>
                    </tr>
                    <tr>
                        <td><label> Пароль :</label></td>
                        <td><input type="password" name="password"/></td>
                    </tr>
                </tbody>
            </table>
            <div id="signInButton"><input type="submit" value="Sign In"/></div>
        </form>
    </div>
</div>
</body>
</html>