<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="base">
<head>
    <title>Форма входа</title>
</head>
<body>
<div layout:fragment="content">
    <div id="login" class="text-center">
        <h1 th:text="#{login.formTitle}">Вход</h1>
        <form th:action="@{/login}" method="post">
            <table>
                <tbody>
                    <tr>
                        <td><label th:text="#{login.username}">Имя пользователя</label></td>
                        <td><input type="text" name="username" tabindex="1"/></td>
                    </tr>
                    <tr>
                        <td><label th:text="#{login.password}">Пароль</label></td>
                        <td><input type="password" name="password" tabindex="2"/></td>
                    </tr>
                </tbody>
            </table>
            <div class="submitButton"><input type="submit" th:value="#{login.button}" value="Войти"/></div>
        </form>
    </div>
</div>
</body>
</html>